html{
	font-family: 'Roboto';

	width:100%;
}
body{
	margin: 5% auto; 
	position: relative;
	width: 100%;
    vertical-align: middle;
}
h1{ 
	
	margin: 0 auto;
	text-align: center;
	padding: 2%;
}
table{
	top: 20%;
	width: 80%;
	margin: 0 auto;
}
table, th, td {
    border: 2px solid black;
}
th, td {
    padding: 15px;
}
td{
	 
}
th {
	background-color: lightblue;
    text-align: left;
}
table {
    border-spacing: none;
}
ul{	position: relative;
	left: 7% ;
	display: block;
	margin: 0 auto;
	font-size: 20px;
	
}
.li{
	padding: 10px;
	text-decoration: none;
	display: inline-block; 
	padding-top: 1%;
	
}
b{
	border: solid bottom 1px;
}
